{% extends 'base.html.twig' %}

{% block title %}Demande de Ressource{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

    <div class="container mt-4">
        <h1>Faire une Demande de Ressource</h1>

        <div class="card mt-4">
            <div class="card-body">
                {{ form_start(form) }}
                
                <div class="form-group mb-3">
                    {{ form_label(form.ressource, 'Choisir une Ressource') }}
                    {{ form_widget(form.ressource, {'attr': {'class': form.ressource.vars.errors|length > 0 ? 'form-control is-invalid' : 'form-control'}}) }}
                    {% if form.ressource.vars.errors|length > 0 %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.ressource.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-group mb-3">
                    {{ form_label(form.quantite, 'Quantité') }}
                    {{ form_widget(form.quantite, {'attr': {'class': form.quantite.vars.errors|length > 0 ? 'form-control is-invalid' : 'form-control'}}) }}
                    {% if form.quantite.vars.errors|length > 0 %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.quantite.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    {{ form_label(form.event, 'Choisir un Événement') }}
                    {{ form_widget(form.event, {'attr': {'class': 'form-control'}}) }}
                    {% if form.event.vars.errors|length > 0 %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.event.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Soumettre la Demande</button>
                
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
