{% extends 'base.html.twig' %}

{% block title %}Demande de Ressource{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Faire une Demande de Ressource</h1>

        <div class="card mt-4">
            <div class="card-body">
                {{ form_start(form) }}
                
                <div class="form-group mb-3">
                    {{ form_label(form.ressource, 'Choisir une Ressource') }}
                    {{ form_widget(form.ressource, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.ressource) }}
                </div>
                
                <div class="form-group mb-3">
                    {{ form_label(form.quantite, 'Quantité') }}
                    {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.quantite) }}
                </div>

                <div class="form-group mb-3">
                    {{ form_label(form.event, 'Choisir un Événement') }}
                    {{ form_widget(form.event, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.event) }}
                </div>

                <button type="submit" class="btn btn-primary">Soumettre la Demande</button>
                
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
