{% extends 'base.html.twig' %}

{% block title %}Liste des Ressources{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-4">Liste des Ressources</h1>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de la Ressource</th>
                    <th>Type</th>
                    <th>Montant</th>
                    <th>Quantité</th>
                    <th>Description</th>
                    <th>Date de Création</th>
                    <th>Image</th> <!-- Colonne pour l'image -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ressource in ressources %}
                    <tr>
                        <td>{{ ressource.id }}</td>
                        <td>{{ ressource.nomRessource }}</td>
                        <td>{{ ressource.type }}</td>
                        <td>{{ ressource.montant ?: '-' }}</td>
                        <td>{{ ressource.quantite ?: '-' }}</td>
                        <td>{{ ressource.descriptionRessource }}</td>
                        <td>{{ ressource.dateCreationRessource|date('Y-m-d') }}</td>
                        <td>
                            {% if ressource.image %}
                                <img src="{{ asset('uploads/ressources/' ~ ressource.image) }}" alt="Image de la ressource" width="100">
                            {% else %}
                                <span>Aucune image</span>
                            {% endif %}
                        </td>
                        <td>
                        
                             <a href="{{ path('ressource_edit', { 'id': ressource.id }) }}" class="btn btn-warning btn-sm">Éditer</a>
                            <a href="{{ path('ressource_delete_confirm', { 'id': ressource.id }) }}" class="btn btn-danger btn-sm">Supprimer</a>
                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" class="text-center">Aucune ressource trouvée.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
