{# templates/user/apply_to_club.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Apply to Club{% endblock %}

{% block body %}
    <h1>Apply to Join the Club</h1>

    {# Display any flash messages for success or warning #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {# Display the form #}
    {{ form_start(form) }}
        {{ form_row(form.message) }}
        <button class="btn btn-primary" type="submit">Apply</button>
    {{ form_end(form) }}
{% endblock %}
