{% extends 'base.html.twig' %}

{% block title %}{{ club.nom }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ club.nom }} Details</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{ club.nom }}</li>
        <li class="list-group-item"><strong>Location:</strong> {{ club.location }}</li>
        <li class="list-group-item"><strong>Founded Year:</strong> {{ club.foundedYear }}</li>
    </ul>

    <a href="{{ path('club_search') }}" class="btn btn-primary mt-3">Back to Search</a>
</div>
{% endblock %}
