<form action="{{ path('club_search') }}" method="get" class="d-flex mb-3">
    <input type="text" name="query" class="form-control" placeholder="Search clubs..." value="{{ searchQuery }}">
    <button type="submit" class="btn btn-primary ms-2">Search</button>
</form>

{% if clubs is not empty %}
    <div class="list-group">
        {% for club in clubs %}
            <div class="list-group-item">
                <h5>{{ club.nom }}</h5>
                <p>{{ club.description }}</p>
                <a href="{{ path('club_show', {'id': club.id}) }}" class="btn btn-info">View Club</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No clubs found.</p>
{% endif %}
